@mixin for-phone {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin for-tablet {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin for-big-tablet {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin for-only-tablet {
    @media (min-width: 767px) and (max-width: 1199px) {
        @content;
    }
}

@mixin for-destop {
    @media (min-width: 1199px) {
        @content;
    }
}

@mixin for-phone-tablet {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin for-phone-big-tablet {
    @media (max-width: 1198px) {
        @content;
    }
}

@mixin for-tablet-destop {
    @media (min-width: 768px) {
        @content;
    }
}
