body {
    margin: 0;
}

h1 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 1rem;
}